.logviewer {
    height: 100%;
}

.logviewer__username {
    min-width: 100px;
    height: 50px;
}

.logviewer__action {
    width: 100%;
    height: 50px;
}

.logviewer__timestamp {
    width: 100px;
    height: 50px;
    display: block;
}

.logviewer__table {
    height: 100%;
}

.logviewer__body {
    display: block;
    table-layout: fixed;
    overflow: auto;
    height: 90%;
    width: 100%;
    background-color: #e9e9e9;
}

.logviewer__header {
    display: block;
}