.users-viewer__list {
    padding-top: 5px;
    overflow: auto;
    margin-bottom: 10px;
    height: 100%;
}

.users-viewer__item {
    display: list-item;
    list-style-type: none;
    cursor: pointer;
    height: 64px;
}

.users-viewer__header {
    height: 25px;
    background-color: #85b7d9;
}

.users-viewer__title {
    font-weight: 1000;
    color: white;
}

.users-viewer {
    height: 100%;
}

.users-viewer__item:not(:first-child) {
    display: list-item;
    list-style-type: none;
    margin-top: 10px;
}

.users-viewer__item_info {
    overflow: hidden;
    padding-left: 15px;
}

.users-viewer__item_avatar {
    float: left;
}

.users-viewer__item_name {
    font-weight: 700;
}

.users-viewer__item_username {
    font-style: italic;
}

.users-viewer__item_username::before {
    content: "@";
}

.users-viewer__item_department {

}