<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head>
    <title>New Task</title>
    <meta th:include="/fragments/header-fragment :: dependencies" th:remove="tag"/>
</head>
<body>
<div th:replace="/fragments/header-fragment :: header"></div>
<form action="#" th:action="@{/task}" class="ui form" th:object="${createTaskDTO}" method="post">
    <div class="ui form" th:classappend="${#fields.hasAnyErrors()}? 'error'" style="width: 50%">
        <div class="required inline field">
            <label>Task Summary:</label>
            <input type="text" th:field="*{summary}"
                   placeholder="new task" value="new task" th:value="*{summary}">
        </div>
        <div class="ui container">
            <div class="required inline field">
                <label>Task Type:</label>
                <select class="ui dropdown" th:field="*{taskType}">
                    <option th:each="taskType: ${taskTypes}" th:value="${taskType}" th:name="${taskType}" th:text="${taskType}"></option>
                </select>
            </div>
        </div>

        <div class="required inline field">
            <label>Assignee</label>
            <select class="ui dropdown" th:field="*{assigneeId}">
                <option th:each="possibleAssignee: ${possibleAssignees}"
                        th:value="${possibleAssignee.getId()}" th:name="${possibleAssignee.getUsername()}" th:text="${possibleAssignee.getUsername()}">
                </option>
            </select>
        </div>

        <div class="ui error message" th:if="${#fields.hasErrors('assigneeId')}" th:errors="*{assigneeId}"></div>
        <div class="field">
            <label>Task Description</label>
            <textarea th:field="*{description}"
                      th:value="*{description}"
                      placeholder="optional"></textarea>
        </div>
        <div class="ui error message" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
        <div class="ui divider"></div>
        <div class="required inline field">
            <label>File to attach:</label>
            <select class="ui dropdown" th:field="*{attachedDocumentId}" >
                <option th:each="doc: ${availableDocuments}"
                        th:value="${doc.getId()}" th:name="${doc.getName()}"
                        th:text="${doc.getName()}">
                </option>
            </select>
        </div>
        <div class="ui error message" th:if="${#fields.hasErrors('attachedDocumentId')}" th:errors="*{attachedDocumentId}"></div>
        <div class="ui divider"></div>
        <input class="ui blue button right" type="submit" value="Upload"/>
    </div>
</form>
</body>
