<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Documents Dashboard</title>
    <meta th:include="/fragments/header-fragment :: dependencies" th:remove="tag"/>
</head>
<body>
    <div th:replace="/fragments/header-fragment :: header(~{:: .role_specific_actions})">
        <div class="role_specific_actions" th:remove="tag">
            <a class="item" th:href="@{/document}">Document Dashboard</a>
            <a class="item" th:href="@{/document/upload}">Upload Document</a>
        </div>
    </div>
    <div class="ui cards" th:each="doc: ${documents}">
        <div class="card">
            <div class="content">
                <div class="header" th:text="*{doc.getName()}"></div>
                <div class="meta" th:text="'created by: ' + *{doc.getAuthor()}"></div>
                <div class="meta" th:text="'size: ' +*{doc.getSize()}"></div>
                <div class="meta" th:text="'content-type: '+*{doc.getContentType()}"></div>
                <div class="description" th:text="*{doc.getDescription()}"></div>
            </div>
        </div>
    </div>
</body>
</html>