<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Document Upload Error</title>
    <meta th:insert="/fragments/header-fragment :: dependencies" th:remove="tag"/>
</head>
<body>
    <div th:replace="/fragments/header-fragment :: header(~{:: .role_specific_actions})">
        <div class="role_specific_actions" th:remove="tag">
            <a class="item" th:href="@{/document}">Document Dashboard</a>
            <a class="item" th:href="@{/document/upload}">Upload Document</a>
        </div>
    </div>
</body>
</html>