<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Documents Dashboard</title>
    <meta th:include="/fragments/header-fragment :: dependencies" th:remove="tag"/>
</head>
<body>
<div th:replace="/fragments/header-fragment :: header"></div>
<div class="ui cards" th:each="task: ${tasks}">
    <div class="card">
        <div class="content">
            <div class="header" th:text="*{task.summary}"></div>
            <div class="meta" th:text="'type: ' + *{task.taskType}"></div>
            <div class="meta" th:text="'assignee: ' +*{task.assignee.username}"></div>
            <div class="description" th:text="*{task.description}"></div>
        </div>
    </div>
</div>
</body>
</html>
