<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<body>
<div th:fragment="research-specific">
    Research specific
</div>
<div th:fragment="incubation-specific">
    Incubation specific
</div>
<div th:fragment="common(object, taskTypes, possibleAssignees)" th:remove="tag">
    <div class="required inline field">
        <label>Task Summary:</label>
        <input if type="text" th:field="*{__${object}__.summary}"
               placeholder="new task" value="new task" th:value="*{__${object}__.summary}">
    </div>
    <div class="required inline field">
        <label>Task Type:</label>
        <select class="ui dropdown" th:field="*{__${object}__.taskType}" onchange="this.form.submit()">
            <option th:each="taskType: ${taskTypes}" th:value="${taskType}" th:name="${taskType}" th:text="${taskType}"></option>
        </select>
    </div>
    <div class="required inline field">
        <label>Assignee</label>
        <select class="ui dropdown" th:field="*{__${object}__.assigneeId}">
            <option th:each="possibleAssignee: ${possibleAssignees}"
                    th:value="${possibleAssignee.getId()}" th:name="${possibleAssignee.getUsername()}" th:text="${possibleAssignee.getUsername()}">
            </option>
        </select>
    </div>
</div>
</body>
</html>