<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>

<head>
    <meta charset="UTF-8">
    <title th:text="${document.getName()}"></title>
    <meta th:include="/fragments/header-fragment :: dependencies" th:remove="tag"/>
</head>
<body>
    <div th:replace="/fragments/header-fragment :: header"></div>
    <div class="ui card" th:object="${document}">
        <div class="content">
            <div class="header" th:text="*{name}"></div>
            <div class="meta" th:text="'created by: ' +*{author}"></div>
            <div class="meta" th:text="'document type: ' +*{docType}"></div>
            <div class="meta" th:text="'size: ' +*{size}"></div>
            <div class="meta" th:text="'content-type: '+*{contentType}"></div>
            <div class="description" th:text="*{description}"></div>
        </div>
    </div>
</body>
