<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:fragment="dependencies" th:remove="tag">

    <!-- Jquery -->
    <script type="text/javascript" src="/styles/jquery-3.3.1.js"></script>

    <!-- Semantic UI -->
    <link href="/styles/semantic.min.css" media="screen"
          rel="stylesheet" type="text/css">

    <!-- Semantic UI -->
    <script type="text/javascript"
            src="/styles/semantic.min.js"></script>
</head>
<body>
    <header th:fragment="header">
            <div class="ui secondary menu">
                <div th:if="${#httpServletRequest.remoteUser != null}" th:remove="tag">
                    <a class="item" th:href="@{/document}">Document Dashboard</a>
                    <a class="item" th:href="@{/document/upload}">Upload Document</a>
                    <a class="item" th:href="@{/task}">Tasks Dashboard</a>
                    <a class="item" th:href="@{/task/create}">New Task</a>
                </div>
                <div class="right menu">
                    <form class="item" th:action="@{/logout}" method="post">
                        <input class="ui basic red button" type="submit" value="Log Out"/>
                    </form>
                </div>
            </div>
    </header>
</body>
</html>