<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
</head>

<body>

<div th:fragment="dependencies">

    <!-- Jquery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>

    <!-- Semantic UI -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" media="screen"
          rel="stylesheet" type="text/css">

    <!-- Semantic UI -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</div>


<header th:fragment="header">
    <div style="width:100%;">
        <div class="ui secondary menu">
            <div class="right menu">
                <div class="ui item" th:if="${#httpServletRequest.remoteUser != null}">
                    <form th:action="@{/logout}" method="post">
                        <input class="ui basic red button" type="submit" value="Log Out"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>


</body>

</html>