<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">
    <title>Jurassic Park Wiki</title>
    <div th:include="fragments/wiki-header::dependencies"></div>
    <script>
        function deleteWiki(id){
            let delWiki = confirm("Удалить " + id + "?");
            if (delWiki){
                let deletionURL = '/api/wiki/'+id
                let xmlHttp = new XMLHttpRequest()
                xmlHttp.open( "DELETE", deletionURL, false )
                xmlHttp.send( null );
                alert(xmlHttp.responseText+"Удалено")
                document.location.reload()
            }
        }
    </script>
</head>

<body>

<div th:replace="fragments/wiki-header :: wiki-header"></div>

<div class="ui segment" style="width: 500px;">
    <h3>Welcome to Jurassic Park Wiki</h3>

    <p>
        Welcome to Jurassic Park Wiki here you can find additional information about our dinosaurs.
        Chose one of the links below and click it to see the corresponding page.
    </p>

    <table>
        <tr th:each="page : ${allPages}">
            <td>
                <div class="ui compact menu">
                    <a class="item" style="min-width: 130px" th:href="@{/wiki/page(pageName=${page.title})}" th:text="${page.title}"></a>
                    <a class="item" th:href="@{/wiki/edit(pageName=${page.title})}">Редактировать</a>
                    <a th:id="*{page.title}" class="ui basic red button" onclick="deleteWiki(this.id)">Удалить</a>
                </div>
            </td>
        </tr>
    </table>
</div>

</body>

</html>