<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">
    <title>Jurassic Park Wiki</title>
    <div th:include="fragments/wiki-header::dependencies"></div>
</head>

<body>
<div th:replace="fragments/wiki-header :: wiki-header"></div>

<div class="ui segment" style="width: 500px;">
    <form class="ui form" th:object="${wiki}" enctype="multipart/form-data" method="post" th:action="@{/wiki/createWiki}">
        <div class="field">
            <label>Название динозавра:</label>
            <input type="text" th:field="*{title}" onchange="checkTitle()">
        </div>

        <div class="field">
            <label>Изображение динозавра:</label>
            <input type="file" accept="image/png, image/gif, image/jpeg" th:field="*{image}">
        </div>
        <div class="field">
            <label>Инфомация о динозавре:</label>
            <textarea th:field="*{text}"></textarea>
        </div>

        <div class="scroll-table-body">
            <table>
                <tr>
                    <th>Выберите связанные страницы:</th>
                </tr>
                <tr th:each="title : ${allTitles}">
                    <td>
                        <p th:text="${title}"> Some dino</p>
                    </td>
                    <td>
                        &nbsp;<input type="checkbox" name="related" th:value="${title}" th:field="*{relatedPages}">
                    </td>
                </tr>
            </table>
        </div>

        <br/>
        <input type="submit" id="submit" value="Сохранить">
    </form>

</div>

</body>

</html>