<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<script type="text/javascript" th:src="@{/js/jquery-3.3.1.js}"></script>
<head>
    <meta charset="UTF-8">
    <title>Jurassic Park Wiki</title>
    <div th:include="fragments/wiki-header::dependencies"></div>
</head>


<div th:replace="fragments/wiki-header :: wiki-header"></div>


<script th:inline="javascript">
    function resetImage(){
        let deleteImage = confirm("Вы уверены, что хотите удалить изображение? Это действие нельзя будет отменить")
        if (deleteImage){
            let id = [[${wiki.id}]]
            let title = document.getElementById("title").value
            let text = document.getElementById("text").value
            let relatedPages = document.getElementsByName("relatedPages")
            let related = [];
            for (let i=0; i< relatedPages.length; i++){
                if (relatedPages[i].checked){
                    related.push(relatedPages[i].defaultValue)
                }
            }
            let deletionURL = "/wiki/editWiki2?id="+id+"&title="+title+"&text="+text+"&image=delete&relatedPages="+related;
            let xmlHttp = new XMLHttpRequest();
            xmlHttp.open( "POST", deletionURL, false );
            xmlHttp.send( null );
            document.location.href="/wiki/edit?pageName="+title
        }
    }
</script>

<div class="ui segment" style="width: 500px;">
    <div th:with="img1=${wiki.image}">
        <form class="ui form" th:if="${img1.isEmpty() == true}" th:object="${wiki}" enctype="multipart/form-data" method="post" th:action="@{/wiki/editWiki1}">
            <input type="hidden" th:field="*{id}">
            <div class="field">
                <label>Название динозавра:</label>
                <input type="text" th:field="*{title}" onchange="checkTitle()">
            </div>

            <div class="field">
                <label>Изображение динозавра:</label>
                <input type="file" accept="image/png, image/gif, image/jpeg" th:field="*{image}">
            </div>

            <div class="field">
                <label>Инфомация о динозавре:</label>
                <textarea th:field="*{text}"></textarea>
            </div>
            <div class="scroll-table-body">
            <table>
                <tr>
                    <th>Выберите связанные страницы:</th>
                </tr>
                <div th:each="title1 : ${allTitles}">
                    <tr th:if="${title1} != *{title}">
                        <td>
                            <p th:text="${title1}"> Some dino</p>
                        </td>
                        <td>
                            &nbsp;<input type="checkbox" name="related" class="related" th:value="${title1}" th:field="*{relatedPages}">
                        </td>
                    </tr>
                </div>

            </table>
            </div>
            <input type="submit" value="Применить изменения">
        </form>

        <form class="ui form" th:if="${img1.isEmpty() == false}" th:object="${wiki}" enctype="multipart/form-data" method="post" th:action="@{/wiki/editWiki2}">
            <input type="hidden" th:field="*{id}">
            <div class="field">
                <label>Название динозавра:</label>
                <input type="text" th:field="*{title}"  onchange="checkTitle()">
            </div>

            <div class="field">
                <label>Изображение динозавра:</label>
                <img th:if="*{image != ''}" th:src="@{'data:image/png;base64,' + *{image}}" style="width: 300px"/>
                <br/>
                <input type="button" th:id="*{image}" onclick="resetImage(this.id)" value="Удалить изображение">
            </div>

            <div class="field">
                <label>Инфомация о динозавре:</label>
                <textarea th:field="*{text}"></textarea>
            </div>
            <div class="scroll-table-body">
            <table>
                <tr>
                    <th>Выберите связанные страницы:</th>
                </tr>
                <div th:each="title1 : ${allTitles}">
                    <tr th:if="${title1} != *{title}">
                        <td>
                            <p th:text="${title1}"> Some dino</p>
                        </td>
                        <td>
                            &nbsp;<input type="checkbox" name="related" class="related" th:value="${title1}" th:field="*{relatedPages}">
                        </td>
                    </tr>
                </div>
            </table>
            </div>
            <input type="submit" value="Применить изменения">
        </form>
    </div>



</div>

</body>

</html>