<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">
    <title>Jurassic Park Wiki</title>
    <div th:insert="fragments/header-fragment :: dependencies"></div>
</head>

<body th:object="${page}">

<div th:replace="fragments/wiki-header :: wiki-header"></div>

<div class="ui segment" style="width: 500px;">
    <h3 th:text="*{title}">Some wiki page</h3>

    <img th:if="*{image != ''}" th:src="@{'data:image/png;base64,' + *{image}}" style="width: 300px"/>
    <br/>

    <p th:utext="*{text}">Text for this page is not found</p>

    <div th:if="*{relatedPages.size()>0}" class="scroll-table-body">
        <table>
            <tr>
                <th>See also</th>
            </tr>
            <tr th:each="rel : *{relatedPages}">
                <td>
                    <a href="page.html"
                       th:href="@{/wiki/page(pageName=${rel})}"
                       th:text="${rel}"> Some dino</a>
                </td>
            </tr>
        </table>
    </div>

</div>

</body>

</html>